<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Smart-Trafficlight-System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button><a onclick="location.reload();">Refresh</a></button>
        </div>
        <div class="main">
            <h2>Current Traffic Light Status</h2>
            <section class="table-wrapper">
                <table class="status-table">
                    <tr>
                        <th>Trafficlight ID</th>
                        <th>Intersection</th>
                        <th>Status</th>
                    </tr>
                    {% for light in lights %}
                    <tr class="{{ light.current_status }}">
                        <td>{{ light.tl_id }}</td>
                        <td>{{ light.intersection }}</td>  <td>{{ light.current_status|capitalize }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>

            <div class="footer">
                This offline website has been created for the University of Messina project and does not have a relation with physical faces and the world. That is the property of GlebBagranov.
            </div>
        </div>
    </div>
</body>
</html>